body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple]
textarea,
select,
button {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
    color: inherit;
}
input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible
select:focus-visible {
    outline: none;
}

:root {
    --cores_mine_shaft: #222222;
    --cores_white_90: #ffffffe5;
    --gray_100: #f4f4f4;
    --white_a700: #ffffff;

    --space-xs: 8px;
    --space-sm: 116px;
}

.portifolio {
    background-color: var(--white_a700);
    width: 100%;

}

.header {
    display: flex;
    background-color: var(--cores_mine_shaft);
    justify-content: center;
    align-items: center;
    padding: 40px;
    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}

.header__menu {
    align-self: end;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1186px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.header__menu-list {
    display: flex;
    gap: 84px;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 1050px) {
      gap: 20px;
    }
}
  
.header__menu-item-3 {
    color: var(--cores_white_90) !important;
    text-transform: uppercase;
}
  
.header__infoicon {
    width: 60px;
    height: 60px;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.newscreenbody {
    margin-top: 42px;
    gap: var(--space-sm);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
      gap: 87px;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 58px;
    }
}

.row {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.portfolio__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__header {
    height: 552px;
    align-self: end;
    width: 42%;
    position: relative;
    @media only screen and (max-width: 1050px) {
        align-self: auto;
        width: 100%;
        height: auto;
    }
}

.portfolio__header-view {
    height: 126px;
    margin-top: 130px;
    background-color: var(--white_a700);
    width: 126px;
}

.portfolio__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto;
}

.portfolio__main-view {
    height: 126px;
    background-color: var(--white_a700);
    width: 126px;
}

.portfolio__main-stack {
    height: 522px;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.portfolio__main-stack-image {
    height: 522px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.portfolio__main-stack-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 1px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.portfolio__main-stack-column-view--top {
    height: 76px;
    margin-left: 22px;
    background-color: var(--cores_mine_shaft);
    width: 76px;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.portfolio__main-stack-column-view--middle {
    height: 126px;
    margin-top: 28px;
    background-color: var(--cores_mine_shaft);
    width: 126px;
}

.portfolio__main-stack-column-view--bottom {
    height: 76px;
    margin-top: 54px;
    align-self: end;
    background-color: var(--cores_mine_shaft);
    width: 76px;
}

.portfolio__bio {
    margin-left: -102px;
    z-index: 1;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 38px;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        margin-left: 0px;
    
    }
}

.portfolio__bio-stack {
    height: 300px;
    margin-right: 22px;
    align-self: stretch;
    position: relative;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}

.portfolio__bio-stack-name {
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    top: 20px;
    margin: auto;
}

.portfolio__bio-stack-surname {
    letter-spacing: -5.2px;
    text-transform: uppercase;
    position: absolute;
    bottom: -1.13px;
    right: 1px;
    margin: auto;
}

.portfolio__bio-description {
    margin-top: 6px;
    align-self: end;
    width: 78%;
    line-height: 110%;
    @media only screen and (max-width:1050px){
        width: 100%;
        margin-right: 0px;
    }
}

.portfolio__bio-button {
    color: var(--cores_white_90) !important;
    margin-top: 44px;
    margin-left: 136px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--cores_mine_shaft) !important;
    height: 76px;
}

.columntrabalhos {
    padding-left: 56px;
    padding-right: 56px;
    gap: var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        gap: 87px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 550px) {
        gap: 58px;
    }
}

.portifolio__title {
    letter-spacing: -1.92px;
    text-transform: uppercase;
}

.portfolio-1 {
    margin-right: auto;
    width: 100%;
    max-width: 1064px;
    margin-left: auto;
}

.portfolio__grid {
    
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 20px;
    max-height: 256px;
    height: 1064px;
    gap: 14px;
    display: grid;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    @media only screen and (max-width: 1050px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.footer {
    height: 326px;
    margin-top: 120px;
    display: flex;
    background-image: url(../public/images/img_group_69.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px 56px 50px 66px;
    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;
    }
}

.footer__contact {
    margin-bottom: 6px;
    gap: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    max-width: 1198px;
    margin-left: auto;
    margin-right: auto;
}

.footer__contact-text {
    color: var(--cores_white_90) !important;
    align-self: center;
    gap: 5px;
    letter-spacing: -0.17px;
    font-size: 29.86px !important;
    display: flex;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}

.footer__contact-text-span {
    text-decoration: underline;
    display: inline;
    color: var(--cores_white_90);
}

.footer__social {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.footer__contact-form {
    margin-top: 6px;
    gap: 2px;
    display: flex;
    width: 60%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.footer__contact-message {
    color: var(--cores_white_90) !important;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    font-size: 17.16px !important;
}

.footer__form {
    display: flex;
}

.footer__form-input {
    gap: 12px;
    display: flex;
    width: 58%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.footer__form-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__form-label {
    color: var(--cores_white_90) !important;
    font-size: 17.03px !important;
    font-weight: 400 !important;
}

.footer__form-icon {
    height: 16px;
    margin-right: 6px;
    width: 16px;
}

.footer__form-divider {
    height: 1px;
    margin-right: 6px;
    background-color: var(--cores_white_90);
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}

.footer__social-links {
    gap: 10px;
    align-self: center;
    display: flex;
    width: 12%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.footer__social-title {
    color: var(--cores_white_90) !important;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    font-size: 17.3px !important;
}

.footer__social-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    text-decoration: underline;
    color: var(--cores_white_90);
}

.twitter-link-link {
    margin-top: -2px;
    position: relative;
}

.header__menu-item {
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

.user-profile-image {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-profile-image__avatar {
    height: 524px;
    object-fit: cover;
}

.footer__contact-info {
    gap: var(--space-xs);
    display: flex;
}

.footer__contact-icon {
    height: 24px;
}

.footer__social-item--instagram {
    letter-spacing: -0.17px;
    font-size: 16.89px !important;
}

.ui.button.square {
    border-radius: 0px;
}

.ui.button.size-xs {
    height: 76px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.ui.button.fill.cores_mine_shaft {
    background-color: var(--cores_mine_shaft);
    color: var(--cores_white_90);
}

.ui.button {
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--cores_white_90);
    font-size: 30px;
    font-weight: 900;
    background-color: var(--cores_mine_shaft);
    min-width: 330px;
    @media only screen and (max-width: 1050px) {
        font-size: 28px;
        margin-left: 0px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 26px;
    }
}

.ui.text.size-textxs {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.ui.text {
    color: var(--cores_white_90);
    font-family: "Inter";
}

.ui.heading.size-texts {
    font-size: 17px;
    font-weight: 500;
    font-style: bold;
}

.ui.heading.size-textmd {
    font-size: 24px;
    font-weight: 500;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.ui.heading.size-textlg {
    font-size: 29px;
    font-weight: 500;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 27px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 25px;
    }
}

.ui.heading.size-headingxs {
    font-size: 30px;
    font-weight: 900;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 28px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 26px;
    }
}

.ui.heading.size-headings {
    font-size: 48px;
    font-weight: 900;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 38px;
    }
}

.ui.heading.size-headingmd {
    font-size: 130px;
    font-weight: 900;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
        font-size: 40px;
    }
}

.ui.heading {
    color: var(--cores_mine_shaft);
    font-family: "Inter";
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url(../public/fonts/InterMedium.otf);
    font-family: "Inter";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url(../public/fonts/InterBlack.otf);
    font-family: "Inter";
    font-weight: 900;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url(../public/fonts/InterRegular.otf);
    font-family: "Inter";
    font-weight: 400;
}